.container__options ul {
    gap: 2em;
    display: flex;
    list-style-type: none;
}

.container__options a {
    color: var(--dark);
}

.container__options a:hover {
    transition: .3s;
    color: var(--pink);
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 750px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: flex !important;
    }
}