.container__downloads {
    min-height: 550px;
    border-radius: 10px 0 0 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(var(--blue), var(--light));
}

.container__downloads img {
    width: 250px;
    margin: 2em 0 0 2em;
}

.container__text {
    gap: .5em;
    font-weight: 600;
    margin-left: 120px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

.download__in {
    font-weight: 400;
}

.container__links {
    gap: .7em;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1100px) {
    .container__downloads {
        display: none;
    }
}