.container__logged {
    gap: 2em;
    min-height: 90vh;
    padding: 2em 5em;

    display: grid;
    background: var(--blue);
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 1fr;
}