.container__logged {
    gap: 1em;
    min-height: 90vh;
    padding: 2em 5em;

    display: grid;
    background: var(--blue);
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 1fr;
}

@media screen and (max-width: 800px) {
    .container__logged {
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 650px) {
    .container__logged {
        grid-template-columns: 1fr;
    }
}