.container__about__user {
    gap: 1.3em;
    padding: 1.5em;
    font-weight: 500;
    border-radius: 10px;
    max-height: 600px !important;

    display: flex;
    flex-direction: column;
    background: var(--white);
}

.container__about__user img {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 3px solid var(--pink);
}

.container__data {
    gap: .3em;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

hr {
    width: 100%;
}