.container__main {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(117,91,126);
    background: linear-gradient(
        90deg, rgba(117,91,126,1) 0%, 
        rgba(146,66,103,1) 20%, 
        rgba(14,14,14,1) 100%);
}

.container__wrapper {
    gap: 1em;
    padding: .8em;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    background: var(--white);
}