:root {
    --blue: #EDF6FB;
    --pink: #ED2590;
    --dark: #50504E;
    --grey: #b9b9b9;
    --light: #ECC5E0;
    --black: #000000;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: var(--dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 2em;
}

a {
    color: var(--pink);
    text-decoration: none;
}

input {
    border-radius: 5px;
}

fieldset {
    margin: 1em 0;
    border: none;
    text-align: center;
    border-top: 1px solid var(--grey);
}

legend {
    padding: 5px;
}

.containers {
    padding: 1em;
    width: 500px;
}

.container__form {
    display: flex;
    flex-direction: column;
}

.language {
    cursor: pointer;
    font-weight: 600;
    text-align: right;
    color: var(--pink);
}